---
- name: install gunicorn
  pip:
    name: gunicorn
    state: present
    version: "{{ gunicorn_version|default(omit) }}"
    virtualenv: "{{ venv_dir }}"
    virtualenv_python: /usr/bin/python{{ python_version }}
  become_user: "{{ project_user }}"
  vars:
    ansible_ssh_pipelining: true

- name: configure gunicorn
  template: src=gunicorn.conf
            dest=/etc/supervisor/conf.d/{{ project_name }}-gunicorn.conf
            owner=root
            group=root
            mode=0600

- name: ensure gunicorn is present
  supervisorctl: name={{ project_name }}-server state=present

# TODO: let connections to 8000 through the firewall if we are load-balancing.

- name: collectstatic
  django_manage: >
    command=collectstatic
    app_path={{ source_dir }}
    virtualenv={{ venv_dir }}
  become_user: "{{ project_user }}"
  vars:
    ansible_ssh_pipelining: true

- name: migrate
  django_manage: >
    command=migrate
    app_path={{ source_dir }}
    virtualenv={{ venv_dir }}
  become_user: "{{ project_user }}"
  vars:
    ansible_ssh_pipelining: true

- name: restart gunicorn
  supervisorctl: name={{ project_name }}-server state=restarted

- name: copy shell script wrapper for manage.py
  template: src=manage.sh
            dest={{ root_dir }}/manage.sh
            owner={{ project_name }}
            group={{ project_name }}
            mode=700

- name: change ownership of node modules
  command: /bin/true
  notify: chown node_modules
  when: package_json.stat.exists == True and build_script.stdout != ""

- name: rebuild node modules
  command: /bin/true
  notify: npm run build
  when: package_json.stat.exists == True and build_script.stdout != ""
