---
- name: add rabbitmq repo
  apt_repository: repo="deb http://www.rabbitmq.com/debian/ testing main" state=present

# Rabbitmq-server now needs a newer Erlang than the repos provide in
# 12.04.  We can get that from erlang-solutions.com for 12.04, but not
# anything older than that, so we only address 12.04 here.
- name: add erlang repo
  apt_repository: repo="deb http://packages.erlang-solutions.com/ubuntu {{ ansible_distribution_release }} contrib" state=present
  when: ansible_distribution_release == 'precise'

- name: add the rabbitmq repo key
  apt_key: url="http://www.rabbitmq.com/rabbitmq-signing-key-public.asc" state=present

- name: add the erlang repo key
  apt_key: url="http://packages.erlang-solutions.com/ubuntu/erlang_solutions.asc" state=present
  when: ansible_distribution_release == 'precise'

- name: install rabbitmq-server
  apt: name={{ item }} state=latest
  with_items:
    - erlang-nox
    - rabbitmq-server

- name: ensure rabbitmq is running
  service: name=rabbitmq state=started

- name: remove guest rabbitmq user
  rabbitmq_user: user=guest state=absent
  notify:
    - restart rabbitmq

- name: configure rabbitmq
  copy: src=rabbitmq.config
        dest=/etc/rabbitmq/rabbitmq.config
        owner=root
        group=root
        mode=644
  notify:
    - restart rabbitmq

- name: add rabbitmq vhost
  rabbitmq_vhost: name={{ project_name }}_{{ env_name }} state=present
  notify:
    - restart rabbitmq

- name: add rabbitmq user
  rabbitmq_user: user={{ project_name }}_{{ env_name }}
                 password={{ broker_password }}
                 vhost={{ project_name }}_{{ env_name }}
                 configure_priv=.*
                 read_priv=.*
                 write_priv=.*
                 state=present
                 force=yes
  notify:
    - restart rabbitmq

- name: allow the app minions through the firewall for rabbitmq
  ufw: rule=allow port=5672 from_ip={{ hostvars[item].ansible_eth0.ipv4.address }}
  with_items: app_minions
