{{ ansible_managed | comment }}

[Unit]
Description={{ project_name }} uWSGI
After=syslog.target

[Service]
Environment=DJANGO_SETTINGS_MODULE={{ project_settings }}
ExecStart={{ django_dir }}/dotenv.sh \
          {% if use_newrelic %}{{ venv_dir }}/bin/newrelic-admin run-program {% endif %} \
          {{ venv_dir }}/bin/uwsgi \
          --ini {{ uwsgi_ini_path }}
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
